In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('DatasetAutoRecovered.xlsx')
df.head()

   SN                   Places                                        tags
0   1        Swyambunath Stupa  cultural, religious, wildlife, sightseeing
1   2     Pashupatinath Temple           religious, historical,sightseeing
2   3  Kathmandu Durbar Square           cultural, sightseeing, historical
3   4         Garden of Dreams                                 sightseeing
4   5         Boudhanath Stupa  cultural, religious, wildlife, sightseeing

In [3]:
df.shape

(104, 3)

In [4]:
df_final = df['Places']+' '+df['tags']

In [5]:
print(df_final)

0      Swyambunath Stupa cultural, religious, wildlif...
1      Pashupatinath Temple religious, historical,sig...
2      Kathmandu Durbar Square cultural, sightseeing,...
3                           Garden of Dreams sightseeing
4      Boudhanath Stupa cultural, religious, wildlife...
                             ...
99                                                   NaN
100                                                  NaN
101                                                  NaN
102                                                  NaN
103                                                  NaN
Length: 104, dtype: object

In [6]:
df_final = df_final.dropna()

In [7]:
print(df_final)

0     Swyambunath Stupa cultural, religious, wildlif...
1     Pashupatinath Temple religious, historical,sig...
2     Kathmandu Durbar Square cultural, sightseeing,...
3                          Garden of Dreams sightseeing
4     Boudhanath Stupa cultural, religious, wildlife...
                            ...
94                     Dreamland Eco Resort sightseeing
95               LOD - Lord Of The Drinks entertainment
96                         Dadagaun sightseeing ,hiking
97                        Kalu Pandey Danda sightseeing
98                  Central Zoo entertainment ,wildlife
Length: 99, dtype: object

In [8]:
df = df.dropna()

In [9]:
df

    SN                    Places                                        tags
0    1         Swyambunath Stupa  cultural, religious, wildlife, sightseeing
1    2      Pashupatinath Temple           religious, historical,sightseeing
2    3   Kathmandu Durbar Square           cultural, sightseeing, historical
3    4          Garden of Dreams                                 sightseeing
4    5          Boudhanath Stupa  cultural, religious, wildlife, sightseeing
..  ..                       ...                                         ...
94  95      Dreamland Eco Resort                                 sightseeing
95  96  LOD - Lord Of The Drinks                               entertainment
96  97                  Dadagaun                         sightseeing ,hiking
97  98         Kalu Pandey Danda                                 sightseeing
98  99               Central Zoo                     entertainment ,wildlife

[99 rows x 3 columns]

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

count_matrix1 = cv.fit_transform(df_final).toarray()
count_matrix1

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 1]], dtype=int64)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

count_matrix = cv.fit_transform(df['tags']).toarray()
count_matrix

array([[0, 0, 1, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 1, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [12]:
count_matrix1.shape

(99, 174)

In [13]:
X_name = cv.get_feature_names()
X_name

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['adventerous',
 'art',
 'cultural',
 'entertainment',
 'hiking',
 'historic',
 'historical',
 'picnic',
 'religious',
 'sightseeeing',
 'sightseeing',
 'wildlife']

In [14]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(count_matrix)

similarity[0]

array([1.        , 0.57735027, 0.57735027, 0.5       , 1.        ,
       0.5       , 0.5       , 0.57735027, 0.8660254 , 0.5       ,
       0.5       , 0.35355339, 0.57735027, 0.5       , 0.35355339,
       0.57735027, 0.28867513, 0.5       , 0.        , 0.70710678,
       0.70710678, 0.5       , 0.70710678, 0.8660254 , 0.28867513,
       0.8660254 , 0.70710678, 0.5       , 0.70710678, 0.70710678,
       0.28867513, 0.70710678, 0.        , 0.        , 0.        ,
       0.70710678, 0.5       , 0.57735027, 0.35355339, 0.28867513,
       0.        , 0.28867513, 0.35355339, 0.35355339, 0.5       ,
       0.75      , 0.28867513, 0.25      , 0.        , 0.35355339,
       0.        , 0.        , 0.        , 0.35355339, 0.        ,
       0.28867513, 0.35355339, 0.35355339, 0.70710678, 0.70710678,
       0.70710678, 0.35355339, 0.28867513, 0.35355339, 0.57735027,
       0.        , 0.25      , 0.        , 0.28867513, 0.70710678,
       0.70710678, 0.35355339, 0.70710678, 0.35355339, 0.35355339,
       0.35355339, 0.28867513, 0.        , 0.35355339, 0.70710678,
       0.35355339, 0.        , 0.35355339, 0.35355339, 0.        ,
       0.28867513, 0.        , 0.        , 0.35355339, 0.5       ,
       0.5       , 0.70710678, 0.5       , 0.5       , 0.5       ,
       0.        , 0.35355339, 0.5       , 0.35355339])

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
similarity1 = cosine_similarity(count_matrix1)

In [16]:
similarity[0]

array([1.        , 0.57735027, 0.57735027, 0.5       , 1.        ,
       0.5       , 0.5       , 0.57735027, 0.8660254 , 0.5       ,
       0.5       , 0.35355339, 0.57735027, 0.5       , 0.35355339,
       0.57735027, 0.28867513, 0.5       , 0.        , 0.70710678,
       0.70710678, 0.5       , 0.70710678, 0.8660254 , 0.28867513,
       0.8660254 , 0.70710678, 0.5       , 0.70710678, 0.70710678,
       0.28867513, 0.70710678, 0.        , 0.        , 0.        ,
       0.70710678, 0.5       , 0.57735027, 0.35355339, 0.28867513,
       0.        , 0.28867513, 0.35355339, 0.35355339, 0.5       ,
       0.75      , 0.28867513, 0.25      , 0.        , 0.35355339,
       0.        , 0.        , 0.        , 0.35355339, 0.        ,
       0.28867513, 0.35355339, 0.35355339, 0.70710678, 0.70710678,
       0.70710678, 0.35355339, 0.28867513, 0.35355339, 0.57735027,
       0.        , 0.25      , 0.        , 0.28867513, 0.70710678,
       0.70710678, 0.35355339, 0.70710678, 0.35355339, 0.35355339,
       0.35355339, 0.28867513, 0.        , 0.35355339, 0.70710678,
       0.35355339, 0.        , 0.35355339, 0.35355339, 0.        ,
       0.28867513, 0.        , 0.        , 0.35355339, 0.5       ,
       0.5       , 0.70710678, 0.5       , 0.5       , 0.5       ,
       0.        , 0.35355339, 0.5       , 0.35355339])

In [17]:
similarity[0].shape

(99,)

In [18]:
sorted(similarity[0],reverse=True)

[1.0,
 1.0,
 0.8660254037844388,
 0.8660254037844388,
 0.8660254037844388,
 0.75,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.7071067811865475,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5773502691896258,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.35355339059327373,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.2886751345948129,
 0.25,
 0.25,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [19]:
# Capturing the index position 
list(enumerate(similarity[0]))

[(0, 1.0),
 (1, 0.5773502691896258),
 (2, 0.5773502691896258),
 (3, 0.5),
 (4, 1.0),
 (5, 0.5),
 (6, 0.5),
 (7, 0.5773502691896258),
 (8, 0.8660254037844388),
 (9, 0.5),
 (10, 0.5),
 (11, 0.35355339059327373),
 (12, 0.5773502691896258),
 (13, 0.5),
 (14, 0.35355339059327373),
 (15, 0.5773502691896258),
 (16, 0.2886751345948129),
 (17, 0.5),
 (18, 0.0),
 (19, 0.7071067811865475),
 (20, 0.7071067811865475),
 (21, 0.5),
 (22, 0.7071067811865475),
 (23, 0.8660254037844388),
 (24, 0.2886751345948129),
 (25, 0.8660254037844388),
 (26, 0.7071067811865475),
 (27, 0.5),
 (28, 0.7071067811865475),
 (29, 0.7071067811865475),
 (30, 0.2886751345948129),
 (31, 0.7071067811865475),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.7071067811865475),
 (36, 0.5),
 (37, 0.5773502691896258),
 (38, 0.35355339059327373),
 (39, 0.2886751345948129),
 (40, 0.0),
 (41, 0.2886751345948129),
 (42, 0.35355339059327373),
 (43, 0.35355339059327373),
 (44, 0.5),
 (45, 0.75),
 (46, 0.2886751345948129),
 (47, 0.25),
 (48, 0.0),
 (49, 0.35355339059327373),
 (50, 0.0),
 (51, 0.0),
 (52, 0.0),
 (53, 0.35355339059327373),
 (54, 0.0),
 (55, 0.2886751345948129),
 (56, 0.35355339059327373),
 (57, 0.35355339059327373),
 (58, 0.7071067811865475),
 (59, 0.7071067811865475),
 (60, 0.7071067811865475),
 (61, 0.35355339059327373),
 (62, 0.2886751345948129),
 (63, 0.35355339059327373),
 (64, 0.5773502691896258),
 (65, 0.0),
 (66, 0.25),
 (67, 0.0),
 (68, 0.2886751345948129),
 (69, 0.7071067811865475),
 (70, 0.7071067811865475),
 (71, 0.35355339059327373),
 (72, 0.7071067811865475),
 (73, 0.35355339059327373),
 (74, 0.35355339059327373),
 (75, 0.35355339059327373),
 (76, 0.2886751345948129),
 (77, 0.0),
 (78, 0.35355339059327373),
 (79, 0.7071067811865475),
 (80, 0.35355339059327373),
 (81, 0.0),
 (82, 0.35355339059327373),
 (83, 0.35355339059327373),
 (84, 0.0),
 (85, 0.2886751345948129),
 (86, 0.0),
 (87, 0.0),
 (88, 0.35355339059327373),
 (89, 0.5),
 (90, 0.5),
 (91, 0.7071067811865475),
 (92, 0.5),
 (93, 0.5),
 (94, 0.5),
 (95, 0.0),
 (96, 0.35355339059327373),
 (97, 0.5),
 (98, 0.35355339059327373)]

In [20]:
# Getting the first five recommendations from similarity

sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(4, 1.0),
 (8, 0.8660254037844388),
 (23, 0.8660254037844388),
 (25, 0.8660254037844388),
 (45, 0.75)]

In [21]:
def recommend(places):
    places_index = df[df['Places'] == places].index[0]
    distances = similarity[places_index]
    places_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in places_list:
        print(df.iloc[i[0]].Places)

In [22]:
def recommend1(places):
    places_index = df[df['Places'] == places].index[0]
    distances = similarity1[places_index]
    places_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in places_list:
        print(df.iloc[i[0]].Places)

In [23]:
recommend('Swyambunath Stupa')

Boudhanath Stupa
Budhanilkantha Temple
Jagannath Temple
Vajrayogini Temple
Namo Buddha

In [24]:
recommend1('Swyambunath Stupa')

Boudhanath Stupa
Budhanilkantha Temple
Jagannath Temple
Vajrayogini Temple
Chabahil Stupa

In [25]:
df.iloc[4].Places

'Boudhanath Stupa'

In [26]:
recommend('Garden of Dreams')

Kumari Bahal
Kopan Monastery
Asan Tole
White Monastery
Taudaha Lake

In [27]:
recommend1('Garden of Dreams')

House of Palettes
National Museum of Nepal
Thamel
Pharping
Kumari Bahal

In [28]:
import pickle

In [29]:
pickle.dump(df,open('places.pickle','wb'))

In [30]:
pickle.dump(df.to_dict(),open('places_dict.pickle','wb'))

In [31]:
df['Places'].values

array(['Swyambunath Stupa', 'Pashupatinath Temple',
       'Kathmandu Durbar Square', 'Garden of Dreams', 'Boudhanath Stupa',
       'Kumari Bahal', 'Kopan Monastery', 'Narayanhiti Palace',
       'Budhanilkantha Temple', 'Asan Tole', 'White Monastery',
       'Dharahara', 'Hanuman Dhoka', 'Taudaha Lake',
       'Siddhartha Art Gallery', 'Pulchoki', 'The Last Resort', 'Thamel',
       'Bhundole', 'Dakshinkali Temple', 'Patan', 'Indra Chowk',
       'Kala Bhairav', 'Jagannath Temple', 'National Museum of Nepal',
       'Vajrayogini Temple', 'Taleju Temple',
       'National Botanical Gardens', 'Akash Bhairav Temple',
       'Seto Machindranath Temple', 'Tribhuvan Museum',
       'Shiva-Parvati Temple', 'Kaiser Library', 'Stone Inscription',
       'Casino Royale', 'Annapurna Temple', 'Chhauni Museum',
       'Chabahil Stupa', 'Freak Street', 'chandragiri',
       'Kathmandu Fun Park', 'Nagarkot', 'Dhulikhel', 'Chobhar Danda',
       'Pharping', 'Namo Buddha', 'JarsingPauwa', 'Lakuri Bhanjyang',
       'Jump KTM', 'Art in Paradise Nepal', 'Whoopee Land', 'Astrek Park',
       'Kathmandu Sports and Climbing Centre', 'House of Palettes',
       'Outdoor Adventure Centre Nepal', 'Sundarijal', '55 window palace',
       'Bhaktapur Durbar Square', 'Taumadhi Square',
       'Changunarayan Temple', 'Doleshwar Mahadev Temple', 'Thimi',
       'Dattatraya and Pottery Square', 'Pilot Baba Ashram',
       'Kailashnath Temple', 'Ranikot', 'Trishul Danda', 'Ghyampe Danda',
       'Latarambeshwar', 'Subarneshwar Mahadev Temple',
       'Anantalingeshwar Mahadev Temple', 'kalamasi', 'Nil Barahi Temple',
       'Gundu', 'Mahamanjushree Temple', 'Godavari', 'Shivapuri',
       'Marble Danda', 'Kakani', 'Muchkund Cave', 'Chisapani',
       'Champadevi', 'Panch Pokhari', 'White House', 'Bishnudwar',
       'Jamacho', 'Tarebhir', 'Shivapuri National Park', 'Sukute Beach',
       'Single Tree Hill', 'Bagh Bhairav Temple',
       'Nagar Mandap Shri Kirti Bihar', 'Tinthana Suspension Bridge',
       '\xa0BP Koirala Memorial Planetarium Observatory and Science Museum',
       'Dreamland Eco Resort', 'LOD - Lord Of The Drinks', 'Dadagaun',
       'Kalu Pandey Danda', 'Central Zoo'], dtype=object)

In [32]:
df.to_dict()

{'SN': {0: 1,
  1: 2,
  2: 3,
  3: 4,
  4: 5,
  5: 6,
  6: 7,
  7: 8,
  8: 9,
  9: 10,
  10: 11,
  11: 12,
  12: 13,
  13: 14,
  14: 15,
  15: 16,
  16: 17,
  17: 18,
  18: 19,
  19: 20,
  20: 21,
  21: 22,
  22: 23,
  23: 24,
  24: 25,
  25: 26,
  26: 27,
  27: 28,
  28: 29,
  29: 30,
  30: 31,
  31: 32,
  32: 33,
  33: 34,
  34: 35,
  35: 36,
  36: 37,
  37: 38,
  38: 39,
  39: 40,
  40: 41,
  41: 42,
  42: 43,
  43: 44,
  44: 45,
  45: 46,
  46: 47,
  47: 48,
  48: 49,
  49: 50,
  50: 21,
  51: 52,
  52: 53,
  53: 54,
  54: 55,
  55: 56,
  56: 57,
  57: 58,
  58: 59,
  59: 60,
  60: 61,
  61: 62,
  62: 63,
  63: 64,
  64: 65,
  65: 66,
  66: 67,
  67: 68,
  68: 69,
  69: 70,
  70: 71,
  71: 72,
  72: 73,
  73: 74,
  74: 75,
  75: 76,
  76: 77,
  77: 78,
  78: 79,
  79: 80,
  80: 81,
  81: 82,
  82: 83,
  83: 84,
  84: 85,
  85: 86,
  86: 87,
  87: 88,
  88: 89,
  89: 90,
  90: 91,
  91: 92,
  92: 93,
  93: 94,
  94: 95,
  95: 96,
  96: 97,
  97: 98,
  98: 99},
 'Places': {0: 'Swyambunath Stupa',
  1: 'Pashupatinath Temple',
  2: 'Kathmandu Durbar Square',
  3: 'Garden of Dreams',
  4: 'Boudhanath Stupa',
  5: 'Kumari Bahal',
  6: 'Kopan Monastery',
  7: 'Narayanhiti Palace',
  8: 'Budhanilkantha Temple',
  9: 'Asan Tole',
  10: 'White Monastery',
  11: 'Dharahara',
  12: 'Hanuman Dhoka',
  13: 'Taudaha Lake',
  14: 'Siddhartha Art Gallery',
  15: 'Pulchoki',
  16: 'The Last Resort',
  17: 'Thamel',
  18: 'Bhundole',
  19: 'Dakshinkali Temple',
  20: 'Patan',
  21: 'Indra Chowk',
  22: 'Kala Bhairav',
  23: 'Jagannath Temple',
  24: 'National Museum of Nepal',
  25: 'Vajrayogini Temple',
  26: 'Taleju Temple',
  27: 'National Botanical Gardens',
  28: 'Akash Bhairav Temple',
  29: 'Seto Machindranath Temple',
  30: 'Tribhuvan Museum',
  31: 'Shiva-Parvati Temple',
  32: 'Kaiser Library',
  33: 'Stone Inscription',
  34: 'Casino Royale',
  35: 'Annapurna Temple',
  36: 'Chhauni Museum',
  37: 'Chabahil Stupa',
  38: 'Freak Street',
  39: 'chandragiri',
  40: 'Kathmandu Fun Park',
  41: 'Nagarkot',
  42: 'Dhulikhel',
  43: 'Chobhar Danda',
  44: 'Pharping',
  45: 'Namo Buddha',
  46: 'JarsingPauwa',
  47: 'Lakuri Bhanjyang',
  48: 'Jump KTM',
  49: 'Art in Paradise Nepal',
  50: 'Whoopee Land',
  51: 'Astrek Park',
  52: 'Kathmandu Sports and Climbing Centre',
  53: 'House of Palettes',
  54: 'Outdoor Adventure Centre Nepal',
  55: 'Sundarijal',
  56: '55 window palace',
  57: 'Bhaktapur Durbar Square',
  58: 'Taumadhi Square',
  59: 'Changunarayan Temple',
  60: 'Doleshwar Mahadev Temple',
  61: 'Thimi',
  62: 'Dattatraya and Pottery Square',
  63: 'Pilot Baba Ashram',
  64: 'Kailashnath Temple',
  65: 'Ranikot',
  66: 'Trishul Danda',
  67: 'Ghyampe Danda',
  68: 'Latarambeshwar',
  69: 'Subarneshwar Mahadev Temple',
  70: 'Anantalingeshwar Mahadev Temple',
  71: 'kalamasi',
  72: 'Nil Barahi Temple',
  73: 'Gundu',
  74: 'Mahamanjushree Temple',
  75: 'Godavari',
  76: 'Shivapuri',
  77: 'Marble Danda',
  78: 'Kakani',
  79: 'Muchkund Cave',
  80: 'Chisapani',
  81: 'Champadevi',
  82: 'Panch Pokhari',
  83: 'White House',
  84: 'Bishnudwar',
  85: 'Jamacho',
  86: 'Tarebhir',
  87: 'Shivapuri National Park',
  88: 'Sukute Beach',
  89: 'Single Tree Hill',
  90: 'Bagh Bhairav Temple',
  91: 'Nagar Mandap Shri Kirti Bihar',
  92: 'Tinthana Suspension Bridge',
  93: '\xa0BP Koirala Memorial Planetarium Observatory and Science Museum',
  94: 'Dreamland Eco Resort',
  95: 'LOD - Lord Of The Drinks',
  96: 'Dadagaun',
  97: 'Kalu Pandey Danda',
  98: 'Central Zoo'},
 'tags': {0: 'cultural, religious, wildlife, sightseeing',
  1: 'religious, historical,sightseeing',
  2: 'cultural, sightseeing, historical',
  3: 'sightseeing',
  4: 'cultural, religious, wildlife, sightseeing',
  5: 'sightseeing',
  6: 'sightseeing',
  7: 'cultural, historic, sightseeing',
  8: 'cultural, religious, sightseeing',
  9: 'sightseeing',
  10: 'sightseeing',
  11: 'sightseeing, historical',
  12: 'religious, sightseeing, historical',
  13: 'sightseeing',
  14: 'sightseeing ,art',
  15: 'adventerous ,wildlife ,sightseeing',
  16: 'entertainment ,sightseeing ,adventerous',
  17: 'sightseeing',
  18: 'hiking',
  19: 'religious ,sightseeing',
  20: 'cultural ,sightseeing',
  21: 'sightseeing',
  22: 'cultural ,sightseeing',
  23: 'cultural , religious, sightseeing',
  24: 'art ,sightseeing ,historical',
  25: 'cultural ,religious ,sightseeing',
  26: 'cultural, sightseeing',
  27: 'sightseeing ',
  28: 'cultural ,sightseeing',
  29: 'cultural, sightseeing',
  30: 'art, sightseeing ,historical',
  31: 'cultural , sightseeing',
  32: 'historical',
  33: 'historical ,art',
  34: 'entertainment ',
  35: 'cultural, sightseeing',
  36: 'sightseeing',
  37: 'cultural, historical ,sightseeing',
  38: 'art ,sightseeing',
  39: 'hiking, sightseeing ,entertainment',
  40: 'entertainment ',
  41: 'adventerous, sightseeing, picnic',
  42: 'adventerous ,sightseeing ',
  43: 'historic, sightseeing',
  44: 'sightseeing',
  45: 'cultural, religious, sightseeing ,historical',
  46: 'entertainment ,sightseeing ,adventerous',
  47: 'entertainment, hiking, adventerous, sightseeing',
  48: 'entertainment',
  49: 'art ,sightseeing',
  50: 'entertainment ,adventerous',
  51: 'adventerous ,entertainment',
  52: 'adventerous ,entertainment',
  53: 'art ,sightseeing',
  54: 'adventerous ,entertainment',
  55: 'hiking ,adventerous, sightseeing',
  56: 'historical ,sightseeing',
  57: 'historical ,sightseeing',
  58: 'religious ,sightseeing',
  59: 'cultural, sightseeing',
  60: 'cultural, sightseeing',
  61: 'art ,sightseeing',
  62: 'historical, sightseeing ,art',
  63: 'sightseeing, picnic',
  64: 'art ,sightseeing ,religious',
  65: 'hiking ,adventerous ',
  66: 'hiking ,picnic ,adventerous ,sightseeing',
  67: 'adventerous',
  68: 'hiking ,adventerous, religious',
  69: 'sightseeing , religious',
  70: 'religious ,sightseeing',
  71: 'picnic,sightseeing',
  72: 'sightseeing, wildlife ',
  73: 'sightseeing ,adventerous',
  74: 'historical ,sightseeing',
  75: 'picnic ,sightseeing',
  76: 'hiking ,sightseeing ,picnic',
  77: 'hiking',
  78: 'sightseeing ,picnic',
  79: 'religious ,sightseeing',
  80: 'hiking ,sightseeing ',
  81: 'hiking ,adventerous ,sightseeeing',
  82: 'religious ,hiking',
  83: 'adventerous ,sightseeing',
  84: 'hiking',
  85: 'hiking ,sightseeing ,picnic',
  86: 'hiking',
  87: 'adventerous',
  88: 'sightseeing ,entertainment',
  89: 'sightseeing',
  90: 'religious ',
  91: 'sightseeing ,religious',
  92: 'sightseeing',
  93: 'sightseeing',
  94: 'sightseeing',
  95: 'entertainment',
  96: 'sightseeing ,hiking',
  97: 'sightseeing',
  98: 'entertainment ,wildlife'}}

In [33]:
pickle.dump(similarity,open('similarity.pkl', 'wb'))

In [34]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

In [35]:
from scipy.sparse import csr_matrix

places_sparse = csr_matrix(count_matrix)

In [36]:
places_sparse

<99x12 sparse matrix of type '<class 'numpy.int64'>'
	with 202 stored elements in Compressed Sparse Row format>

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

transformed = tfidf.fit_transform(df_final)

In [38]:
transformed

<99x174 sparse matrix of type '<class 'numpy.float64'>'
	with 419 stored elements in Compressed Sparse Row format>

In [39]:
print(transformed)

  (0, 143)	0.14694227090995546
  (0, 171)	0.44883345924934154
  (0, 133)	0.3131645868727926
  (0, 41)	0.3131645868727926
  (0, 149)	0.4965561727449693
  (0, 154)	0.5781386903196754
  (1, 68)	0.41712645455932856
  (1, 159)	0.3830912701672577
  (1, 123)	0.7072315788290724
  (1, 143)	0.17975308691918618
  (1, 133)	0.3830912701672577
  (2, 146)	0.47385490661904583
  (2, 53)	0.5344338472678778
  (2, 83)	0.5003175571250542
  (2, 68)	0.34357019587832033
  (2, 143)	0.14805535014028612
  (2, 41)	0.3155367905631574
  (3, 51)	0.6056363018185963
  (3, 114)	0.4926606643613469
  (3, 59)	0.6056363018185963
  (3, 143)	0.15393118472234354
  (4, 23)	0.5781386903196754
  (4, 143)	0.14694227090995546
  (4, 171)	0.44883345924934154
  (4, 133)	0.3131645868727926
  :	:
  (93, 24)	0.36602779643298183
  (93, 5)	0.3143767486215767
  (93, 105)	0.297748825200715
  (93, 143)	0.09303123372402122
  (94, 54)	0.5865811530375713
  (94, 50)	0.5865811530375713
  (94, 134)	0.5381615527287449
  (94, 143)	0.14908804434565875
  (95, 52)	0.4540155062648399
  (95, 96)	0.4540155062648399
  (95, 95)	0.4540155062648399
  (95, 55)	0.26777916047917616
  (95, 161)	0.41653859580920355
  (95, 114)	0.3693232725236902
  (96, 42)	0.8503150735035815
  (96, 65)	0.4798504980924071
  (96, 143)	0.21611981689115767
  (97, 119)	0.6122989555591969
  (97, 82)	0.6122989555591969
  (97, 44)	0.4753535145112574
  (97, 143)	0.1556245940847047
  (98, 173)	0.5821659378689585
  (98, 30)	0.5821659378689585
  (98, 55)	0.3433625150485187
  (98, 171)	0.4519599814473261

In [40]:
type(tfidf)

sklearn.feature_extraction.text.TfidfVectorizer

In [41]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(transformed)

In [42]:
print(similarity)

[[1.         0.14638395 0.12057054 ... 0.03175714 0.02286783 0.20285476]
 [0.14638395 1.         0.16992562 ... 0.0388482  0.027974   0.        ]
 [0.12057054 0.16992562 1.         ... 0.0319977  0.02304105 0.        ]
 ...
 [0.03175714 0.0388482  0.0319977  ... 1.         0.03363356 0.        ]
 [0.02286783 0.027974   0.02304105 ... 0.03363356 1.         0.        ]
 [0.20285476 0.         0.         ... 0.         0.         1.        ]]

In [43]:
print(similarity.shape)

(99, 99)

In [44]:
# Getting the neame of place from user

place_name = input('Enter your place you would love to visit :')

Enter your place you would love to visit :Anantalingeshwar Mahadev Temple

In [45]:
type(place_name)

str

In [46]:
#  Creating the list of all the places

places_list = df['Places'].tolist()
print(places_list)

['Swyambunath Stupa', 'Pashupatinath Temple', 'Kathmandu Durbar Square', 'Garden of Dreams', 'Boudhanath Stupa', 'Kumari Bahal', 'Kopan Monastery', 'Narayanhiti Palace', 'Budhanilkantha Temple', 'Asan Tole', 'White Monastery', 'Dharahara', 'Hanuman Dhoka', 'Taudaha Lake', 'Siddhartha Art Gallery', 'Pulchoki', 'The Last Resort', 'Thamel', 'Bhundole', 'Dakshinkali Temple', 'Patan', 'Indra Chowk', 'Kala Bhairav', 'Jagannath Temple', 'National Museum of Nepal', 'Vajrayogini Temple', 'Taleju Temple', 'National Botanical Gardens', 'Akash Bhairav Temple', 'Seto Machindranath Temple', 'Tribhuvan Museum', 'Shiva-Parvati Temple', 'Kaiser Library', 'Stone Inscription', 'Casino Royale', 'Annapurna Temple', 'Chhauni Museum', 'Chabahil Stupa', 'Freak Street', 'chandragiri', 'Kathmandu Fun Park', 'Nagarkot', 'Dhulikhel', 'Chobhar Danda', 'Pharping', 'Namo Buddha', 'JarsingPauwa', 'Lakuri Bhanjyang', 'Jump KTM', 'Art in Paradise Nepal', 'Whoopee Land', 'Astrek Park', 'Kathmandu Sports and Climbing Centre', 'House of Palettes', 'Outdoor Adventure Centre Nepal', 'Sundarijal', '55 window palace', 'Bhaktapur Durbar Square', 'Taumadhi Square', 'Changunarayan Temple', 'Doleshwar Mahadev Temple', 'Thimi', 'Dattatraya and Pottery Square', 'Pilot Baba Ashram', 'Kailashnath Temple', 'Ranikot', 'Trishul Danda', 'Ghyampe Danda', 'Latarambeshwar', 'Subarneshwar Mahadev Temple', 'Anantalingeshwar Mahadev Temple', 'kalamasi', 'Nil Barahi Temple', 'Gundu', 'Mahamanjushree Temple', 'Godavari', 'Shivapuri', 'Marble Danda', 'Kakani', 'Muchkund Cave', 'Chisapani', 'Champadevi', 'Panch Pokhari', 'White House', 'Bishnudwar', 'Jamacho', 'Tarebhir', 'Shivapuri National Park', 'Sukute Beach', 'Single Tree Hill', 'Bagh Bhairav Temple', 'Nagar Mandap Shri Kirti Bihar', 'Tinthana Suspension Bridge', '\xa0BP Koirala Memorial Planetarium Observatory and Science Museum', 'Dreamland Eco Resort', 'LOD - Lord Of The Drinks', 'Dadagaun', 'Kalu Pandey Danda', 'Central Zoo']

In [47]:
type(places_list)

list

In [48]:
# Finding the closest match for the place

import difflib
from difflib import get_close_matches

In [49]:
close_match = difflib.get_close_matches(place_name, places_list)
print(close_match)

['Anantalingeshwar Mahadev Temple', 'Doleshwar Mahadev Temple', 'Subarneshwar Mahadev Temple']